<div class="add-user-form">
  <h2>Add User</h2>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <!-- First Name -->
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput type="text" name="firstName" [(ngModel)]="user.firstName" required />
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" name="lastName" [(ngModel)]="user.lastName" required />
    </mat-form-field>

    <div *ngFor="let i of getRange(currentemailscount + 1); let index = index">
      <mat-form-field appearance="fill">
        <mat-label>Email {{ index + 1 }}: </mat-label>
        <input matInput 
               type="email" 
               name="email{{index}}" 
               [(ngModel)]="user.emails[index]" 
               (ngModelChange)="onEmailChange(index)"
               [pattern]="emailPattern" 
               [ngClass]="{'invalid-email': !isEmailValid(index)}" 
               placeholder="Enter email">
        <mat-error *ngIf="!isEmailValid(index)">Invalid email format</mat-error>
      </mat-form-field>
    </div>


    <div *ngFor="let i of getRange(currentmajors+1); let index = index">
      <label for="major{{ index }}">Major {{index+1}} </label>
      <select id="major{{ index }}" [(ngModel)]="user.majors[index]" name="major{{ index }}" (ngModelChange)="onMajorChange(index)">
        <option *ngFor="let major of majors" [value]="major.id">
          {{ major.name }}
        </option>
      </select>
    </div>

    <div *ngFor="let i of getRange(currentphonenumberscount+1); let index = index">
      <mat-form-field appearance="fill">
        <mat-label>Phone Number {{index +1}}: </mat-label>
        <input matInput 
            type="text" 
            name="phone_number{{index}}" 
            [(ngModel)]="user.phone_numbers[index]" 
            (ngModelChange)="onPhoneNumberChange(index)"
            [pattern]="phoneNumberPattern"
            [ngClass]="{'invalid-phone': !isPhoneNumberValid(index)}" 
            placeholder="Enter phone number">
            <mat-error *ngIf="!isPhoneNumberValid(index)">Invalid phone number</mat-error>
        </mat-form-field>
    </div>

    
    <h3>Roles</h3>
    <div>
      <div>
        <label>Select Roles:</label>
        <div *ngFor="let role of roles">
          <input
            type="checkbox"
            [id]="role.id"
            [value]="role.id"
            (change)="onRoleChange($event)"
          />
          <label [for]="role.id">{{ role.name }}</label>
        </div>
      </div>
    </div>
    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit">Add User</button>
  </form>
  <div *ngIf="message" [ngClass]="{'success-message': messageType === 'success', 'error-message': messageType === 'error'}">
    {{ message }}
  </div>
</div>
