<div class="add-user-form">
  <h2>Add User</h2>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <!-- First Name -->
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput type="text" name="firstName" [(ngModel)]="user.firstName" required />
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" name="lastName" [(ngModel)]="user.lastName" required />
    </mat-form-field>

    <div *ngFor="let i of getRange(currentemailscount + 1); let index = index" class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Email {{ index + 1 }}: </mat-label>
        <input matInput 
               type="email" 
               name="email{{index}}" 
               [(ngModel)]="user.emails[index]" 
               (ngModelChange)="onEmailChange(index)"
               [pattern]="emailPattern" 
               [ngClass]="{'invalid-email': !isEmailValid(index)}" 
               (blur)="onEmailBlur(index)"
               placeholder="Enter email">
        <mat-error *ngIf="!isEmailValid(index)">Invalid email format</mat-error>
      </mat-form-field>
      <button type="button" mat-icon-button *ngIf="user.emails.length > 0 && user.emails[index]" (click)="removeEmail(index)">&times; </button>

    </div>


    <div *ngFor="let i of getRange(currentmajors+1); let index = index" class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Major {{ index + 1 }}</mat-label>
        <mat-select id="major{{ index }}" [(ngModel)]="user.majors[index]" name="major{{ index }}" (ngModelChange)="onMajorChange(index)">
          <mat-option *ngFor="let major of majors" [value]="major.id">
            {{ major.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" mat-icon-button *ngIf="user.majors.length > 0 && user.majors[index]" (click)="removeMajor(index)">&times; </button>
    </div>

    <div *ngFor="let i of getRange(currentphonenumberscount+1); let index = index" class="input-container">
      <mat-form-field appearance="fill" style="width: 100%; position: relative;">
        <mat-label>Phone Number {{index +1}}: </mat-label>
        <input matInput 
            type="text" 
            name="phone_number{{index}}" 
            [(ngModel)]="user.phone_numbers[index]" 
            (ngModelChange)="onPhoneNumberChange(index)"
            [pattern]="phoneNumberPattern"
            [ngClass]="{'invalid-phone': !isPhoneNumberValid(index)}" 
            (blur)="onPhoneBlur(index)"
            placeholder="Enter phone number">
            <mat-error *ngIf="!isPhoneNumberValid(index)">Invalid phone number</mat-error>
        </mat-form-field>
        <button type="button" mat-icon-button  *ngIf="user.phone_numbers.length > 0 && user.phone_numbers[index]" (click)="removePhoneNumber(index)">&times;</button>
    </div>

    
    <h3>Roles</h3>
    <div>
      <div>
        <label>Select Roles:</label>
        <div *ngFor="let role of roles">
          <input
            type="checkbox"
            [id]="role.id"
            [value]="role.id"
            (change)="onRoleChange($event)"
          />
          <label [for]="role.id">{{ role.name }}</label>
        </div>
      </div>
    </div>
    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit">Add User</button>
  </form>
  <div *ngIf="message" [ngClass]="{'success-message': messageType === 'success', 'error-message': messageType === 'error'}">
    {{ message }}
  </div>
</div>
