<div class="profile-container">
    <div class="profile-header">
      <h2>Profilod részletei</h2>
    </div>
  
    <div class="profile-details">
      <div class="profile-info">
        <label for="name">Teljes Név:</label>
        <p id="name">{{ userDetails?.firstName }} {{ userDetails?.lastName }}</p>
      </div>

      <div class="profile-info">
        <label for="username">Felhasználónév:</label>
        <p id="username">{{ userDetails?.name }}</p>
        <button mat-icon-button color="primary" (click)="navigateToChangeUsername()">
          <img src="../../assets/icons/edit.png" alt="edit">
        </button>
      </div>

      <div class="profile-info">
        <label for="roles">Jogosultságok:</label>
        <p id="roles">{{ userDetails?.roles?.join(', ') }}</p>
      </div>
  
      <div class="profile-info">
        <label for="emails">Emailek:</label>
        <p id="emails">{{ userDetails?.emails?.join(', ') }}</p>
      </div>

      <div class="profile-info">
        <label for="phone_numbers">Telefonszámok:</label>
        <p id="phone_numbers">{{ userDetails?.phone_numbers?.join(', ') }}</p>
      </div>
  
      <div class="profile-info">
        <label for="majors">Szakok:</label>
        <p id="majors">{{ userDetails?.majors?.join(', ') }}</p>
      </div>
  
      <div class="profile-info">
        <label for="faculties">Karok:</label>
        <p id="faculties">{{ userDetails?.faculties?.join(', ') }}</p>
      </div>
  
      <div class="profile-info">
        <label for="createdAt">Létrehozva:</label>
        <p id="createdAt">{{ formatDate(userDetails?.createdAt) }}</p>
      </div>
  
      <div class="profile-info">
        <label for="updatedAt">Utoljára módosítva:</label>
        <p id="updatedAt">{{ formatDate(userDetails?.updatedAt) }}</p>
      </div>
    </div>

  </div>
  
  <mat-card class="change-password-card">
    <mat-card-title>Jelszó megváltoztatása</mat-card-title>
    <mat-card-content>
      <p>Ha meg szeretnéd változtatni a jelszavad, az alábbi gombra kattintva teheted meg:</p>
      <button mat-raised-button color="accent" (click)="navigateToChangePassword()">Jelszó megváltoztatása</button>
    </mat-card-content>
  </mat-card>
  