<div *ngIf="chartData.length > 0">
    <ngx-charts-line-chart
      [results]="chartData"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="true"
      [yScaleMin]="-1"
      [yScaleMax]="5"
      [gradient]="false"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Félév'"
      [yAxisLabel]="'Átlag érdemjegy'"
      [lineInterpolation]="'linear'"
      [autoScale]="true"
      [showDataLabel]="true"
      [tooltipDisabled]="false">
    </ngx-charts-line-chart>
  
    <!-- Tooltip template to display additional data -->
    <ng-template #customTooltip let-model="model">
      <div class="p-2">
        <strong>{{ model.name }}</strong><br>
        Átlag: {{ model.value | number: '1.1-2' }}<br>
        Jegyek száma: {{ model.extra?.count || 0 }}
      </div>
    </ng-template>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Válassz félévet</mat-label>
    <mat-select [(value)]="selectedSemester" (selectionChange)="onSemesterChange()">
      <mat-option *ngFor="let semester of allSemesters" [value]="semester">
        {{ semester }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  
  <!-- Grades Listing -->
  <mat-card *ngIf="filteredGrades.length">
    <h3>Jegyek – {{ selectedSemester }}</h3>
    <mat-list>
      <mat-list-item *ngFor="let grade of filteredGrades">
        <strong class="mr-2">{{ grade.courseDetailName }}</strong>
        – Jegy: {{ grade.bestGradeValue }}, Kredit: {{ grade.creditScore }}
      </mat-list-item>
    </mat-list>
  </mat-card>
  <!-- Credit Donut -->
  <mat-card class="mt-4">
    <h4>Kredit teljesítés arány</h4>
    <ngx-charts-pie-chart
      [results]="creditChartData"
      [view]="[300, 300]"
      [scheme]="creditColorScheme"
      [doughnut]="true"
      [labels]="true"
      [legend]="false"
      [explodeSlices]="false">
    </ngx-charts-pie-chart>
  </mat-card>

  <!-- Credit Summary -->
  <mat-card class="mt-4">
    <h4>Összes kredit (érvényes jegyek): {{ summaryCredit }}</h4>
    <h4>Összes felvett kredit: {{ totalCredit }}</h4>
  </mat-card>