nav {
    background-color: rgb(234, 234, 234);
    display:flex;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 4px #353535;
    z-index: 500;
}
#brandlogo {
    width: 100px;
    margin: 0 2% 0 5px;
}
app-dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}
nav > div {
    display: flex;
    margin-left: auto;
}
#logoutButton, #profileButton {
    margin-left: 10px;
}
#logoutButton {
    margin-right: 5px;
}
#profileName {
    cursor: pointer;
}
/* Make the background container full-screen and fixed */
.background-container {
    background: url('../../assets/mainbuilding3.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* Make sure it covers the entire viewport */
    display: flex;
    justify-content: center; /* Horizontally center content */
    position: relative;
    z-index: -555;
  }
  
  /* The overlay with 90% opacity and centered text */
  .welcome-overlay {
    background-color: rgba(255, 255, 255, 0.9); /* White background with 90% opacity */
    padding: 20px;
    border-radius: 0 0 10px 10px; /* Optional: rounded corners */
    border: 2px solid black;
    border-top: none;
    text-align: center;
    width: 80%; /* You can adjust the width to control the size of the overlay */
    max-width: 80%; /* Max width to prevent it from getting too wide */
    min-height: 8000px;
    position: absolute; /* Position it in the center */
    z-index: 11110; /* Ensure it is above the background */
  }
  
  /* Make the heading more prominent */
  .welcome-overlay h1 {
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    color: #333;
  }
  
  /* Optional: style the paragraph text */
  .welcome-overlay p {
    font-size: 16px;
    color: #666;
  }
/* "Back to Top" button styles */
.back-to-top {
    position: fixed;
    bottom: 20px; /* Position 20px from the bottom */
    right: 20px; /* Position 20px from the right */
    width: 60px; /* Circle width */
    height: 60px; /* Circle height */
    border-radius: 50%; /* Makes it circular */
    background-color: black; /* Black background */
    color: white; /* White arrow color */
    font-size: 30px; /* Size of the arrow */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .back-to-top:hover {
    background-color: #333; /* Darker shade of black when hovered */
  }
  
  .back-to-top:focus {
    outline: none; /* Remove focus outline */
  }
#dropdownnav {
  display:grid;
}