nav {
    background-color: rgb(234, 234, 234);
    display:flex;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 4px #353535;
    z-index: 500;
}
#brandlogo {
    width: 100px;
    margin: 0 2% 0 5px;
}
app-dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}
nav > div {
    display: flex;
    margin-left: auto;
}
#logoutButton, #profileButton {
    margin-left: 10px;
}
#logoutButton {
    margin-right: 5px;
}
#profileName {
    cursor: pointer;
}
.background-container {
    background: url('../../assets/mainbuilding3.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%; 
    z-index: -555;
    min-height: 100vh;
  }
  
  
  .welcome-overlay {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 0 0 10px 10px; 
    border: 2px solid black;
    border-top: none;
    text-align: center;
    width: 80%;
    max-width: 80%; 
    min-height: 80%;
    position: absolute; 
    z-index: 11110;
  }
  
  .welcome-overlay h1 {
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    color: #333;
  }
  
  .welcome-overlay p {
    font-size: 16px;
    color: #666;
  }
.back-to-top {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    background-color: black;
    color: white;
    font-size: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000; 
  }
  
  .back-to-top:hover {
    background-color: #333;
  }
  
  .back-to-top:focus {
    outline: none; 
  }
#dropdownnav {
  display:grid;
}