<div *ngIf="firstLogin === true" class="message">
    <h2>A biztonsága érdekében változtassa meg jelszavát:</h2>
  </div>
  <div *ngIf="firstLogin === false" class="message">
    <h2>Jelszó megváltoztatása</h2>
  </div>
  
  <form (ngSubmit)="changePassword()">
    <mat-form-field appearance="fill">
        <mat-label>Új jelszó</mat-label>
        <input 
          matInput 
          [type]="passwordVisible ? 'text' : 'password'" 
          [(ngModel)]="newPassword" 
          name="newPassword" 
          required 
          placeholder="Enter your new password" 
        />
        <button 
          mat-icon-button 
          matSuffix 
          (click)="togglePasswordVisibility()" 
          type="button"
          aria-label="Toggle password visibility"
        >
          <img 
            *ngIf="passwordVisible" 
            src="../../assets/icons/show.png" 
            alt="Show Password" 
            width="20" 
            height="20"
          />
          <img 
            *ngIf="!passwordVisible" 
            src="../../assets/icons/hide.png" 
            alt="Hide Password" 
            width="20" 
            height="20"
          />
        </button>
      </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Jelszó megerősítése</mat-label>
      <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required />
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Mentés</button>
  </form>
  
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  