.course-container {
    margin-bottom: 16px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-icon-button {
    display: flex;
    justify-content: center;
  }
  
  .expanded-row td {
    padding: 0;
  }
  
  mat-card {
    padding: 16px;
    margin: 8px;
  }