<div *ngFor="let course of appliedCourses" class="course-container">
  <h2>{{ course.courseDetailName }}</h2>
  
  <mat-expansion-panel *ngFor="let element of [course]" [expanded]="expandedElement === element" (opened)="expandedElement = element" (closed)="expandedElement = null"
  [ngClass]="{ 'good-grade': highestGrade(element.grades) > 1, 'no-grade': element.grades.length == 0, 'bad-grade': highestGrade(element.grades) <= 1,  }">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ element.courseDateName }}
      </mat-panel-title>
      <mat-panel-description>
        {{ getLocationString(element.location) }}
      </mat-panel-description>
      <mat-panel-description>
        {{ element.teacherIds.join(', ') }}
      </mat-panel-description>
      <!-- Display the highest grade on the right -->
      <div *ngIf="element.grades.length > 0">
        Legjobb jegy: {{ getGradeDisplay(highestGrade(element.grades)) }}
      </div>
    </mat-expansion-panel-header>

    <!-- Expansion Panel Content -->
    <div *ngIf="(expandedElement === element) && (element.grades.length > 0)">
      <mat-card class="expanded-card">
        <h3>Jegyek</h3>
        <ul class="grades-list">
          <li *ngFor="let grade of element.grades" class="grade-item">
            <div><strong>Jegy:</strong> {{ getGradeDisplay(grade.gradeValue) }}</div>
            <div><strong>Értékelte:</strong> {{ grade.gradedBy }}</div>
            <div><strong>Dátum:</strong> {{ formatDate(grade.creationDate) }}</div>
          </li>
        </ul>
      </mat-card>
    </div>    
  </mat-expansion-panel>
</div>
