<header>
  <img id="brandlogo" src="../../assets/Flux_Schnell_Create_a_logo_for_a_university_grading_manager_we_1.jpeg" alt="Brand Logo" />
</header>

<div class="paper" [style.backgroundColor]="backgroundColor"><img class="buildingsimage" src="../../assets/mainbulding.jpg" alt=""></div>
<div class="paper2" [style.backgroundColor]="paper2Color"><img class="buildingsimage" src="../../assets/tik.jpg" alt=""></div>
<div class="container">
  <h2>Bejelentkezés</h2>
  <div id="error">{{ errorMessage }}</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Azonosító</mat-label>
      <input matInput formControlName="id" placeholder="Azonosító" />
      <mat-error *ngIf="form.get('id')?.invalid && form.get('id')?.touched">
        Az azonosító 6 karakter hosszú.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Jelszó</mat-label>
      <input matInput 
         [type]="passwordVisible ? 'text' : 'password'" 
         formControlName="password" 
         placeholder="Jelszó">
         <button mat-icon-button matSuffix 
         *ngIf="passwordControl.value && passwordControl.value.length > 0" 
          (click)="togglePasswordVisibility()" type="button">
        <img *ngIf="passwordVisible" src="../../assets/icons/show.png" alt="Show Password">
        <img *ngIf="!passwordVisible" src="../../assets/icons/hide.png" alt="Hide Password">
      </button>
      <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        Jelszó szükséges.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Bejelentkezés</button>
  </form>
</div>
<div class="container" id="versionControl">
  version: 0.2
</div>
<div class="news-div">
  <h1 id="welcome">Üdvözöllek a a Szegedi Tudományegyetem Neptun oldalán</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique dolores a dignissimos illum eum magni iste tempora odit! Nisi quia cumque quas! Molestiae at voluptates, assumenda eveniet voluptas porro.
  <div class="scrollable-box">
    <app-news></app-news>
  </div>
</div>
