<div class="container">
    <h2>Kurzus hozzáadása</h2>
    <form [formGroup]="courseForm" (ngSubmit)="submit()">
      <div>
        <label>Neve:</label>
        <input formControlName="name" type="text" />
      </div>
  
      <div>
        <label>Leírás:</label>
        <textarea formControlName="description"></textarea>
      </div>
  
      <div>
        <label>Kreditek:</label>
        <input formControlName="credits" type="number" />
      </div>

      <div>
        <label>Ajánlott félév:</label>
        <input formControlName="recommendedHalfYear" type="number" />
      </div>
  
      <div>
        <label>Fajta:</label>
        <select formControlName="requirementType">
          <option value="COLLOQUIUM">Colloquium</option>
          <option value="PRACTICE">Practice</option>
          <option value="PE">PE</option>
        </select>
      </div>
  
      <div>
        <label>Szükséges előkövetelmények:</label>
        <select formControlName="requiredCourses" multiple>
          <option *ngFor="let course of courses" [value]="course.id">
            {{ course.name }}
          </option>
        </select>
      </div>
      <div formArrayName="teachers">
        <h3>Tanárok</h3>
        <div *ngFor="let teacher of teacherArray.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="outline">
            <mat-label>Tanár</mat-label>
            <select matNativeControl formControlName="teacherId" required>
              <option value="">Tanár választása</option>
              <option *ngFor="let teacher of teachers" [value]="teacher.identifier">{{ teacher.firstName }} {{ teacher.lastName }}({{ teacher.name }})</option>
            </select>
          </mat-form-field>
      
          <mat-checkbox formControlName="responsible">Responsible</mat-checkbox>
      
          <button type="button" (click)="removeTeacher(i)">Remove</button>
        </div>
        <button type="button" (click)="addTeacher()">Add Teacher</button>
      </div>
      

      <div>
        <h3>Szükségesség beállítása</h3>
        <button type="button" (click)="addEnrollmentType()">Új szükségesség beállítása</button>
        <div formArrayName="enrollmentTypes">
          <div
            *ngFor="let enrollmentType of enrollmentTypes.controls; let i = index"
            [formGroupName]="i"
          >
            <div>
              <label>Szak:</label>
              <select formControlName="majorId">
                <option *ngFor="let major of majors" [value]="major.id">
                  {{ major.name }}
                </option>
              </select>
            </div>
            <div>
              <label>Szükségesség típusa:</label>
              <select formControlName="enrollmentType">
                <option value="MANDATORY">Mandatory</option>
                <option value="MANDATORY_OPTIONAL">Mandatory Optional</option>
                <option value="OPTIONAL">Optional</option>
              </select>
            </div>
            <button type="button" (click)="removeEnrollmentType(i)">Remove</button>
          </div>
        </div>
      </div>
  
      <button type="submit" [disabled]="courseForm.invalid">Kurzus hozzáadása</button>
    </form>
  </div>
  