mat-card {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  border-radius: 5px;
  padding: 0 0 15px 0;
  margin-bottom: 16px;
  background-color: #e0e0db; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
img {
  width: 150px; 
  height: 150px;
  object-fit: cover;
  margin-right: 16px;
}

mat-card-content {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

mat-card-title {
  font-size: 1.5rem; 
  font-weight: bold;  
  margin: 0; 
}

mat-card-content p {
  margin-top: 8px;  
  font-size: 1rem;  
  color: #555; 
}
